<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h2>대출 가능 여부 확인</h2>
    <hr>
    <form action="member_loan" method="post">

        고객님의 나이를 입력하세요 : <input type="number" name="Age" placeholder="나이는?" value="{{r1}}"><br>

        직업 종류
        <select name="Job_kinds">
            {% for j in domain[0] %}
                <option value="{{j}}">{{j}}</option>
            {% endfor %}
        </select><br>

        학력
        <select name="Education">
            {% for e in domain[1] %}
                <option value="{{ e }}">{{ e }}</option>
            {% endfor %}
        </select><br>

        직업
         <select name="Job">
            {% for b in domain[2] %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select><br>

        성별
         <select name="Gender">
            {% for g in domain[3] %}
                <option value="{{ g }}">{{ g }}</option>
            {% endfor %}
        </select><br>

        인종
        <select name="Race">
            {% for r in domain[4] %}
                <option value="{{ r }}">{{ r }}</option>
            {% endfor %}
        </select><br>

        주당근무시간을 입력하세요 : <input type="number" name="Working hours" placeholder="근무시간은?" value="{{r7}}"><br>

         <input type="submit"></input>

        <hr>

        {% if pred_y == 0 %}
            <span>대출이 불가능 합니다.</span>
        {% elif pred_y == 1 %}
            <span>대출이 가능 합니다.</span>
        {% else %}
            <span></span>
        {% endif %}

    </form>
</body>
</html>